@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B1%2C400%3B1%2C500%3B1%2C600%3B1%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-9DULeWFgI0uO: 1140px;
  --plasmic-token-content-max-width: var(--token-9DULeWFgI0uO);
  --token-0v_MpC6HyG-i: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-0v_MpC6HyG-i);
  --token-qJB2yF-MOGoz: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-qJB2yF-MOGoz);
  --token-4F7AstkmyeH9: #92959bd9;
  --plasmic-token-light-label: var(--token-4F7AstkmyeH9);
  --token-4lGr5DfETFhw: #05050599;
  --plasmic-token-light-secondary: var(--token-4lGr5DfETFhw);
  --token-mlNfQIqE6xeu: #007aff;
  --plasmic-token-light-blue: var(--token-mlNfQIqE6xeu);
  --token-nooI2IuLNHo4: #ff3b30;
  --plasmic-token-light-red: var(--token-nooI2IuLNHo4);
  --token-P9183pXmbbDt: #ffffff;
  --plasmic-token-white: var(--token-P9183pXmbbDt);
  --token-qmVbRJkvQEHo: #ffffffd9;
  --plasmic-token-dark-label: var(--token-qmVbRJkvQEHo);
  --token-lW6SRKlI4j5B: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-lW6SRKlI4j5B);
  --token-lyLudLRJpEVO: #0000001a;
  --plasmic-token-light-quarternary: var(--token-lyLudLRJpEVO);
  --token-XzrWSIzHfEoD: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-XzrWSIzHfEoD);
  --token-zmnbs_-ol6iB: #32d74b;
  --plasmic-token-dark-green: var(--token-zmnbs_-ol6iB);
  --token-3F9BcvEbS11o: #0a84ff;
  --plasmic-token-dark-blue: var(--token-3F9BcvEbS11o);
  --token-MBTSgtB6SNgZ: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-MBTSgtB6SNgZ);
  --token-SSBx07vGySit: #34c759;
  --plasmic-token-light-green: var(--token-SSBx07vGySit);
  --token-vhvB0iEBT7nA: #5856d6;
  --plasmic-token-light-indigo: var(--token-vhvB0iEBT7nA);
  --token-e7a386mrVd_y: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-e7a386mrVd_y);
  --token-e7a386mrVd_y: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-e7a386mrVd_y);
  --token-9T7j8iXw3rfk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-9T7j8iXw3rfk);
  --token-9T7j8iXw3rfk: 1240px;
  --plasmic-token-max-width-navbar: var(--token-9T7j8iXw3rfk);
  --token-fb4p-Ja4C4vz: var(--token-kUe7BDlT-ZVJ);
  --plasmic-token-unnamed-style-token-2: var(--token-fb4p-Ja4C4vz);
  --token-fb4p-Ja4C4vz: var(--token-kUe7BDlT-ZVJ);
  --plasmic-token-unnamed-style-token-2: var(--token-fb4p-Ja4C4vz);
  --token-kUe7BDlT-ZVJ: #eeeeee80;
  --plasmic-token-grey: var(--token-kUe7BDlT-ZVJ);
  --token-kUe7BDlT-ZVJ: #eeeeee80;
  --plasmic-token-grey: var(--token-kUe7BDlT-ZVJ);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-8usnfzY-iH9o_font-family: "Montserrat", sans-serif;
  --mixin-8usnfzY-iH9o_font-size: 24px;
  --mixin-8usnfzY-iH9o_font-weight: 500;
  --mixin-8usnfzY-iH9o_font-style: normal;
  --mixin-8usnfzY-iH9o_color: #00000080;
  --mixin-8usnfzY-iH9o_text-align: left;
  --mixin-8usnfzY-iH9o_text-transform: none;
  --mixin-8usnfzY-iH9o_line-height: 1.5;
  --mixin-8usnfzY-iH9o_letter-spacing: normal;
  --mixin-8usnfzY-iH9o_white-space: pre-wrap;
  --mixin-8usnfzY-iH9o_user-select: text;
  --mixin-8usnfzY-iH9o_text-decoration-line: none;
  --mixin-8usnfzY-iH9o_text-overflow: clip;
  --mixin-jJ3PL8DNY5A4_white-space: pre-wrap;
  --mixin-8QNIrKZEp11M_font-family: "Montserrat", sans-serif;
  --mixin-8QNIrKZEp11M_color: #ffffff;
  --mixin-8QNIrKZEp11M_font-size: 72px;
  --mixin-8QNIrKZEp11M_font-weight: 700;
  --mixin-8QNIrKZEp11M_line-height: 88px;
  --mixin-8QNIrKZEp11M_white-space: pre-wrap;
  --mixin-jzSkDDSbN8qm_font-family: "Inter", sans-serif;
  --mixin-jzSkDDSbN8qm_color: #000000;
  --mixin-jzSkDDSbN8qm_font-size: 36px;
  --mixin-jzSkDDSbN8qm_font-weight: 700;
  --mixin-jzSkDDSbN8qm_line-height: 43px;
  --mixin-jzSkDDSbN8qm_text-align: center;
  --mixin-jzSkDDSbN8qm_white-space: pre-wrap;
  --mixin-yuzY1lkYSqQz_font-family: "Inter", sans-serif;
  --mixin-yuzY1lkYSqQz_color: #000000;
  --mixin-yuzY1lkYSqQz_font-size: 24px;
  --mixin-yuzY1lkYSqQz_font-weight: 600;
  --mixin-yuzY1lkYSqQz_letter-spacing: -0.5px;
  --mixin-yuzY1lkYSqQz_line-height: 1.3;
  --mixin-yuzY1lkYSqQz_white-space: pre-wrap;
  --mixin-UrtIHqmQrFrB_font-family: "Montserrat", sans-serif;
  --mixin-UrtIHqmQrFrB_color: #185adb;
  --mixin-UrtIHqmQrFrB_font-size: 24px;
  --mixin-UrtIHqmQrFrB_font-weight: 700;
  --mixin-UrtIHqmQrFrB_line-height: 29px;
  --mixin-UrtIHqmQrFrB_text-align: center;
  --mixin-UrtIHqmQrFrB_white-space: pre-wrap;
  --mixin-RQzk1GnrJOZw_font-family: "Inter", sans-serif;
  --mixin-RQzk1GnrJOZw_color: #000000;
  --mixin-RQzk1GnrJOZw_font-size: 16px;
  --mixin-RQzk1GnrJOZw_font-weight: 600;
  --mixin-RQzk1GnrJOZw_line-height: 1.5;
  --mixin-RQzk1GnrJOZw_white-space: pre-wrap;
  --mixin-7uwy72DJDyVd_border-left-color: #dddddd;
  --mixin-7uwy72DJDyVd_border-left-style: solid;
  --mixin-7uwy72DJDyVd_border-left-width: 3px;
  --mixin-7uwy72DJDyVd_color: #888888;
  --mixin-7uwy72DJDyVd_padding-left: 10px;
  --mixin-7uwy72DJDyVd_white-space: pre-wrap;
  --mixin-sUcT5Ozy6COw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-sUcT5Ozy6COw_border-bottom-color: #dddddd;
  --mixin-sUcT5Ozy6COw_border-bottom-style: solid;
  --mixin-sUcT5Ozy6COw_border-bottom-width: 1px;
  --mixin-sUcT5Ozy6COw_border-left-color: #dddddd;
  --mixin-sUcT5Ozy6COw_border-left-style: solid;
  --mixin-sUcT5Ozy6COw_border-left-width: 1px;
  --mixin-sUcT5Ozy6COw_border-right-color: #dddddd;
  --mixin-sUcT5Ozy6COw_border-right-style: solid;
  --mixin-sUcT5Ozy6COw_border-right-width: 1px;
  --mixin-sUcT5Ozy6COw_border-top-color: #dddddd;
  --mixin-sUcT5Ozy6COw_border-top-style: solid;
  --mixin-sUcT5Ozy6COw_border-top-width: 1px;
  --mixin-sUcT5Ozy6COw_border-bottom-left-radius: 3px;
  --mixin-sUcT5Ozy6COw_border-bottom-right-radius: 3px;
  --mixin-sUcT5Ozy6COw_border-top-left-radius: 3px;
  --mixin-sUcT5Ozy6COw_border-top-right-radius: 3px;
  --mixin-sUcT5Ozy6COw_font-family: "Inconsolata";
  --mixin-sUcT5Ozy6COw_padding-bottom: 1px;
  --mixin-sUcT5Ozy6COw_padding-left: 4px;
  --mixin-sUcT5Ozy6COw_padding-right: 4px;
  --mixin-sUcT5Ozy6COw_padding-top: 1px;
  --mixin-sUcT5Ozy6COw_white-space: pre-wrap;
  --mixin-UQi7NlPuXVNd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UQi7NlPuXVNd_border-bottom-color: #dddddd;
  --mixin-UQi7NlPuXVNd_border-bottom-style: solid;
  --mixin-UQi7NlPuXVNd_border-bottom-width: 1px;
  --mixin-UQi7NlPuXVNd_border-left-color: #dddddd;
  --mixin-UQi7NlPuXVNd_border-left-style: solid;
  --mixin-UQi7NlPuXVNd_border-left-width: 1px;
  --mixin-UQi7NlPuXVNd_border-right-color: #dddddd;
  --mixin-UQi7NlPuXVNd_border-right-style: solid;
  --mixin-UQi7NlPuXVNd_border-right-width: 1px;
  --mixin-UQi7NlPuXVNd_border-top-color: #dddddd;
  --mixin-UQi7NlPuXVNd_border-top-style: solid;
  --mixin-UQi7NlPuXVNd_border-top-width: 1px;
  --mixin-UQi7NlPuXVNd_border-bottom-left-radius: 3px;
  --mixin-UQi7NlPuXVNd_border-bottom-right-radius: 3px;
  --mixin-UQi7NlPuXVNd_border-top-left-radius: 3px;
  --mixin-UQi7NlPuXVNd_border-top-right-radius: 3px;
  --mixin-UQi7NlPuXVNd_font-family: "Inconsolata";
  --mixin-UQi7NlPuXVNd_padding-bottom: 3px;
  --mixin-UQi7NlPuXVNd_padding-left: 6px;
  --mixin-UQi7NlPuXVNd_padding-right: 6px;
  --mixin-UQi7NlPuXVNd_padding-top: 3px;
  --mixin-UQi7NlPuXVNd_white-space: pre-wrap;
  --mixin-XZkGAPsTPU7N_display: flex;
  --mixin-XZkGAPsTPU7N_flex-direction: column;
  --mixin-XZkGAPsTPU7N_align-items: stretch;
  --mixin-XZkGAPsTPU7N_justify-content: flex-start;
  --mixin-XZkGAPsTPU7N_list-style-position: outside;
  --mixin-XZkGAPsTPU7N_padding-left: 40px;
  --mixin-XZkGAPsTPU7N_position: relative;
  --mixin-XZkGAPsTPU7N_list-style-type: decimal;
  --mixin-XZkGAPsTPU7N_white-space: pre-wrap;
  --mixin-12fwp9dgz1Gc_display: flex;
  --mixin-12fwp9dgz1Gc_flex-direction: column;
  --mixin-12fwp9dgz1Gc_align-items: stretch;
  --mixin-12fwp9dgz1Gc_justify-content: flex-start;
  --mixin-12fwp9dgz1Gc_list-style-position: outside;
  --mixin-12fwp9dgz1Gc_padding-left: 40px;
  --mixin-12fwp9dgz1Gc_position: relative;
  --mixin-12fwp9dgz1Gc_list-style-type: disc;
  --mixin-12fwp9dgz1Gc_white-space: pre-wrap;
  --mixin-KQRDLFdm12IS_color: #000000;
  --mixin-KQRDLFdm12IS_font-family: "Montserrat", sans-serif;
  --mixin-KQRDLFdm12IS_font-size: 64px;
  --mixin-KQRDLFdm12IS_font-weight: 700;
  --mixin-KQRDLFdm12IS_line-height: 78px;
  --mixin-KQRDLFdm12IS_text-align: center;
  --mixin-KQRDLFdm12IS_white-space: pre-wrap;
  --mixin-1fKtvX3CVOu3_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-8usnfzY-iH9o_font-size: 16px;
    --mixin-8usnfzY-iH9o_line-height: 27px;
    --mixin-8usnfzY-iH9o_white-space: pre-wrap;
    --mixin-8QNIrKZEp11M_font-size: 40px;
    --mixin-8QNIrKZEp11M_line-height: 48px;
    --mixin-8QNIrKZEp11M_white-space: pre-wrap;
    --mixin-KQRDLFdm12IS_font-size: 28px;
    --mixin-KQRDLFdm12IS_line-height: 34px;
    --mixin-KQRDLFdm12IS_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-XmLA8jWfvUdI_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-XmLA8jWfvUdI_white-space);
  --mixin-_eDKfLVgj120_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-_eDKfLVgj120_box-shadow
  );
  --mixin-_eDKfLVgj120_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-_eDKfLVgj120_white-space
  );
  --mixin-sjYZAy5kUtjy_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-sjYZAy5kUtjy_white-space);
  --mixin-kLBWp8UsC6a9_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-kLBWp8UsC6a9_white-space
  );
  --mixin-mZIGvAZwKxBE_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-mZIGvAZwKxBE_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-8usnfzY-iH9o_font-family);
  font-size: var(--mixin-8usnfzY-iH9o_font-size);
  font-weight: var(--mixin-8usnfzY-iH9o_font-weight);
  font-style: var(--mixin-8usnfzY-iH9o_font-style);
  color: var(--mixin-8usnfzY-iH9o_color);
  text-align: var(--mixin-8usnfzY-iH9o_text-align);
  text-transform: var(--mixin-8usnfzY-iH9o_text-transform);
  line-height: var(--mixin-8usnfzY-iH9o_line-height);
  letter-spacing: var(--mixin-8usnfzY-iH9o_letter-spacing);
  white-space: var(--mixin-8usnfzY-iH9o_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-8QNIrKZEp11M_font-family);
  color: var(--mixin-8QNIrKZEp11M_color);
  font-size: var(--mixin-8QNIrKZEp11M_font-size);
  font-weight: var(--mixin-8QNIrKZEp11M_font-weight);
  line-height: var(--mixin-8QNIrKZEp11M_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-jzSkDDSbN8qm_font-family);
  color: var(--mixin-jzSkDDSbN8qm_color);
  font-size: var(--mixin-jzSkDDSbN8qm_font-size);
  font-weight: var(--mixin-jzSkDDSbN8qm_font-weight);
  line-height: var(--mixin-jzSkDDSbN8qm_line-height);
  text-align: var(--mixin-jzSkDDSbN8qm_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-yuzY1lkYSqQz_font-family);
  color: var(--mixin-yuzY1lkYSqQz_color);
  font-size: var(--mixin-yuzY1lkYSqQz_font-size);
  font-weight: var(--mixin-yuzY1lkYSqQz_font-weight);
  letter-spacing: var(--mixin-yuzY1lkYSqQz_letter-spacing);
  line-height: var(--mixin-yuzY1lkYSqQz_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-UrtIHqmQrFrB_font-family);
  color: var(--mixin-UrtIHqmQrFrB_color);
  font-size: var(--mixin-UrtIHqmQrFrB_font-size);
  font-weight: var(--mixin-UrtIHqmQrFrB_font-weight);
  line-height: var(--mixin-UrtIHqmQrFrB_line-height);
  text-align: var(--mixin-UrtIHqmQrFrB_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-RQzk1GnrJOZw_font-family);
  color: var(--mixin-RQzk1GnrJOZw_color);
  font-size: var(--mixin-RQzk1GnrJOZw_font-size);
  font-weight: var(--mixin-RQzk1GnrJOZw_font-weight);
  line-height: var(--mixin-RQzk1GnrJOZw_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-7uwy72DJDyVd_color);
  padding-left: var(--mixin-7uwy72DJDyVd_padding-left);
  border-left: var(--mixin-7uwy72DJDyVd_border-left-width)
    var(--mixin-7uwy72DJDyVd_border-left-style)
    var(--mixin-7uwy72DJDyVd_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-sUcT5Ozy6COw_font-family);
  border-radius: var(--mixin-sUcT5Ozy6COw_border-top-left-radius)
    var(--mixin-sUcT5Ozy6COw_border-top-right-radius)
    var(--mixin-sUcT5Ozy6COw_border-bottom-right-radius)
    var(--mixin-sUcT5Ozy6COw_border-bottom-left-radius);
  padding: var(--mixin-sUcT5Ozy6COw_padding-top)
    var(--mixin-sUcT5Ozy6COw_padding-right)
    var(--mixin-sUcT5Ozy6COw_padding-bottom)
    var(--mixin-sUcT5Ozy6COw_padding-left);
  border-top: var(--mixin-sUcT5Ozy6COw_border-top-width)
    var(--mixin-sUcT5Ozy6COw_border-top-style)
    var(--mixin-sUcT5Ozy6COw_border-top-color);
  border-right: var(--mixin-sUcT5Ozy6COw_border-right-width)
    var(--mixin-sUcT5Ozy6COw_border-right-style)
    var(--mixin-sUcT5Ozy6COw_border-right-color);
  border-bottom: var(--mixin-sUcT5Ozy6COw_border-bottom-width)
    var(--mixin-sUcT5Ozy6COw_border-bottom-style)
    var(--mixin-sUcT5Ozy6COw_border-bottom-color);
  border-left: var(--mixin-sUcT5Ozy6COw_border-left-width)
    var(--mixin-sUcT5Ozy6COw_border-left-style)
    var(--mixin-sUcT5Ozy6COw_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UQi7NlPuXVNd_font-family);
  border-radius: var(--mixin-UQi7NlPuXVNd_border-top-left-radius)
    var(--mixin-UQi7NlPuXVNd_border-top-right-radius)
    var(--mixin-UQi7NlPuXVNd_border-bottom-right-radius)
    var(--mixin-UQi7NlPuXVNd_border-bottom-left-radius);
  padding: var(--mixin-UQi7NlPuXVNd_padding-top)
    var(--mixin-UQi7NlPuXVNd_padding-right)
    var(--mixin-UQi7NlPuXVNd_padding-bottom)
    var(--mixin-UQi7NlPuXVNd_padding-left);
  border-top: var(--mixin-UQi7NlPuXVNd_border-top-width)
    var(--mixin-UQi7NlPuXVNd_border-top-style)
    var(--mixin-UQi7NlPuXVNd_border-top-color);
  border-right: var(--mixin-UQi7NlPuXVNd_border-right-width)
    var(--mixin-UQi7NlPuXVNd_border-right-style)
    var(--mixin-UQi7NlPuXVNd_border-right-color);
  border-bottom: var(--mixin-UQi7NlPuXVNd_border-bottom-width)
    var(--mixin-UQi7NlPuXVNd_border-bottom-style)
    var(--mixin-UQi7NlPuXVNd_border-bottom-color);
  border-left: var(--mixin-UQi7NlPuXVNd_border-left-width)
    var(--mixin-UQi7NlPuXVNd_border-left-style)
    var(--mixin-UQi7NlPuXVNd_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-XZkGAPsTPU7N_display);
  flex-direction: var(--mixin-XZkGAPsTPU7N_flex-direction);
  align-items: var(--mixin-XZkGAPsTPU7N_align-items);
  justify-content: var(--mixin-XZkGAPsTPU7N_justify-content);
  list-style-position: var(--mixin-XZkGAPsTPU7N_list-style-position);
  padding-left: var(--mixin-XZkGAPsTPU7N_padding-left);
  position: var(--mixin-XZkGAPsTPU7N_position);
  list-style-type: var(--mixin-XZkGAPsTPU7N_list-style-type);
  flex-column-gap: var(--mixin-XZkGAPsTPU7N_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-12fwp9dgz1Gc_display);
  flex-direction: var(--mixin-12fwp9dgz1Gc_flex-direction);
  align-items: var(--mixin-12fwp9dgz1Gc_align-items);
  justify-content: var(--mixin-12fwp9dgz1Gc_justify-content);
  list-style-position: var(--mixin-12fwp9dgz1Gc_list-style-position);
  padding-left: var(--mixin-12fwp9dgz1Gc_padding-left);
  position: var(--mixin-12fwp9dgz1Gc_position);
  list-style-type: var(--mixin-12fwp9dgz1Gc_list-style-type);
  flex-column-gap: var(--mixin-12fwp9dgz1Gc_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-KQRDLFdm12IS_color);
  font-family: var(--mixin-KQRDLFdm12IS_font-family);
  font-size: var(--mixin-KQRDLFdm12IS_font-size);
  font-weight: var(--mixin-KQRDLFdm12IS_font-weight);
  line-height: var(--mixin-KQRDLFdm12IS_line-height);
  text-align: var(--mixin-KQRDLFdm12IS_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
