.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox___40HKz {
  display: flex;
  position: relative;
  max-width: var(--token-9DULeWFgI0uO);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox___40HKz > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox___40HKz > :global(.__wab_flex-container) > *,
.freeBox___40HKz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___40HKz > :global(.__wab_flex-container) > picture > img,
.freeBox___40HKz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___40HKz {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___40HKz > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox___40HKz > :global(.__wab_flex-container) > *,
  .freeBox___40HKz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___40HKz > :global(.__wab_flex-container) > picture > img,
  .freeBox___40HKz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__g7SvD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__g7SvD {
    justify-content: center;
  }
}
.freeBox__kTyq0 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__zu2Bj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__zu2Bj {
    text-align: center;
  }
}
.freeBox__qfRqV {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__qfRqV {
    align-self: center;
    justify-content: center;
  }
}
.svg__dgoTs {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg___5TUev {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__eDauf {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__bidt2 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__kstc9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__kstc9 {
    justify-content: center;
  }
}
.h4__klKkT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__klKkT {
    text-align: center;
  }
}
.button__wycz3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__wycz3:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__yDN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__v7SA {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__v7SA {
    text-align: center;
  }
}
.svg__lmLl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__rYgqT:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__rYgqT:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jt25F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__omyhN {
  color: #92959b;
}
.svg__zH979 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cRo87:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__cRo87:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__olile {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wJ4H {
  color: #92959b;
}
.svg__oGwvd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ldJht:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ldJht:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__koeRl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___3OR3P {
  color: #92959b;
}
.svg__hgKuN {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__od3CD {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__od3CD {
    justify-content: center;
  }
}
.h4__mbTlz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__mbTlz {
    align-self: center;
    text-align: center;
  }
}
.button__pUAyF:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__pUAyF:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jeSGb {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1QbdE {
  color: #92959b;
}
.svg__elVrY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__y4ARa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__y4ARa:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__y8Sig {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cEn1Y {
  color: #92959b;
}
.svg__xWbQp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column___2M4Fo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___2M4Fo {
    justify-content: center;
  }
}
.h4__pfA4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__pfA4 {
    align-self: center;
    text-align: center;
  }
}
.button__laxn7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__laxn7:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___12Ak {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yuG14 {
  color: #92959b;
}
.svg__kvftm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__yWfQb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__yWfQb:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__gyWjz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__anFUz {
  color: #92959b;
}
.svg__ktUbn {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__qNi4M:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__qNi4M:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__nQsvz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__bRNg5 {
  color: #92959b;
}
.svg__yLwCx {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__wJth {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__c35Mh {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__c35Mh {
    padding-top: 129px;
  }
}
